<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Departures</title>
    <div th:replace="components/common :: header"></div>
</head>

<body>
<div th:replace="components/common :: navigation"/>
<div class="mx-4">
    <h1>Departures</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Flightsignature</th>
            <th scope="col">departure time</th>
            <th scope="col">destination</th>
            <th scope="col">arrival time</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="flight : ${flights}">
            <th scope="row"><label th:text="${flight.getFlightnumber()}"></label></th>
            <td><label th:text="${flight.getDepartureTime().getStartTime().toString()}"></label></td>
            <td><label th:text="${flight.getOrigin().getCity()}"></label></td>
            <td><label th:text="${flight.getArrivalTime().getStartTime().toString}"></label></td>
            <td>
                <form action="@{/flight}">
                    <input type="hidden" value="${book.getSignature()}" name="signature"/>
                    <button type="button" class="btn btn-primary">more Details</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>