<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Edit Airport | ErbenAirports</title>
    <div th:replace="components/common :: header"></div>
</head>
<body>
<div th:replace="components/common :: navigation"></div>
<h1 class="text-center my-3" th:text="'Edit Airport:' + ${airport.getAirportcode()}">Edit Airport:</h1>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="text-center my-3">
                Connection Details
            </h5>
            <form th:object="${airport}" method="post" th:action="@{/airport/edit}">
                <div class="my-2" th:replace="components/airportForm :: airportForm"></div>
                <div class="d-flex justify-content-end">
                    <a th:href="'/airport/'+${airport.getAirportcode()}+'/delete'" class="btn btn-danger m-2 me-5">Delete</a>
                    <button type="submit" class="btn btn-primary m-2 me-5">Update</button>
                    <button th:href="':redirect /airport/'+${airport.getAirportcode()}+'/details'" class="btn btn-secondary m-2 me-5">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>