<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Create Airport | ErbenAirports</title>
    <div th:replace="components/common :: header"></div>
</head>

<body>
<div th:replace="components/common :: navigation"></div>
<h1 class="text-center my-3">Create new Airport</h1>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="text-center my-3">
                Connection Details
            </h5>
            <form th:object="${airport}" method="post" th:action="@{/airport/new}">
                <div class="my-2" th:replace="components/airportForm :: airportForm"></div>
                <div class="d-flex justify-content-end"><button type="submit" class="btn btn-primary m-2 me-5">Create</button></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>