<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Flightdetails | ErbenAirports</title>
    <div th:replace="components/common :: header"></div>
</head>

<body>
<div th:replace="components/common :: navigation"></div>
<h1 class="text-center">Flightdetails</h1>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title"
                th:text="${flightdetails.getFlightnumber()} + ' - ' + ${flightdetails.getDepartureAirport().getAirportcode()} + '->' + ${flightdetails.getArrivalAirport().getAirportcode()} ">
                Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Connection Details</h6>
            <div class="row">
                <p class="col-3">Duration:</p>
                <p class="col-8" th:text="${flighttime}">text</p>
            </div>
            <div class="row">
                <p class="col-3">Maximum cargo:</p>
                <p class="col-8" th:text="${flightdetails.maxCargo}">text</p>
            </div>
            <div class="row">
                <p class="col-3">Passengers booked:</p>
                <p class="col-8" th:text="${flightdetails.getPassengerCount()}">text</p>
            </div>
            <div class="row">
                <p class="col-3">Departure Airport:</p>
                <p class="col-8" th:text="${flightdetails.getDepartureAirport().getAirportcode()}+' '
                                            +${flightdetails.getDepartureAirport().getCity()}+' '
                                            +${flightdetails.getDepartureAirport().getCountry()}">text</p>

                <p class="col-3">Arrival Airport:</p>
                <p class="col-8" th:text="${flightdetails.getArrivalAirport().getAirportcode()}+' '
                                            +${flightdetails.getArrivalAirport().getCity()}+' '
                                            +${flightdetails.getArrivalAirport().getCountry()}">text</p>
            </div>
            <div class="row">
                <p class="col-3"
                   th:text="'Departure Time ('+${flightdetails.getDepartureAirport().getAirportcode()}+' - '+${flightdetails.getDepartureAirport().getCountry()}+'): '">
                    Departure Time(Departure Airport):</p>
                <p class="col-8" th:text="${departureTimeDepartureAirport}">text</p>
            </div>
            <div class="row">
                <p class="col-3"
                   th:text="'Departure Time ('+${flightdetails.getArrivalAirport().getAirportcode()}+' - '+${flightdetails.getArrivalAirport().getCountry()}+'): '">
                    Departure Time(Arrival Airport):</p>
                <p class="col-8" th:text="${departureTimeArrivalAirport}">text</p>
            </div>
            <div class="row">
                <p class="col-3"
                   th:text="'Arrival Time ('+${flightdetails.getDepartureAirport().getAirportcode()}+' - '+${flightdetails.getDepartureAirport().getCountry()}+'): '">
                    Arrival Time(Departure Airport):</p>
                <p class="col-8" th:text="${arrivalTimeDepartureAirport}">text</p>
            </div>
            <div class="row">
                <p class="col-3"
                   th:text="'Arrival Time ('+${flightdetails.getArrivalAirport().getAirportcode()}+' - '+${flightdetails.getArrivalAirport().getCountry()}+'): '">
                    Arrival Time(Arrival Airport):</p>
                <p class="col-8" th:text="${arrivalTimeArrivalAirport}">text</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>