<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>My Flights | ErbenAirports</title>
    <div th:replace="components/common :: header"></div>
</head>
<body>
<div th:replace="components/common :: navigation"></div>
<div class="container my-4">

    <h1 sec:authorize="hasAuthority('CUSTOMER')" class="text-center gradientHeader py-2">My Flights</h1>
    <h1 sec:authorize="hasAuthority('EMPLOYEE')" class="text-center gradientHeader py-2">All Flights</h1>

    <div th:replace="components/flightTable :: flightTable(${flights})"></div>

    <div th:if="${flightPage.totalPages > 0}" class="pagination d-flex justify-content-center"
    >
        <a th:each="pageNumber : ${pageNumbers}"
           th:href="@{/myFlights(size=${flightPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:classappend="${pageNumber==flightPage.number + 1} ? 'text-secondary disabled': 'text-primary'"
           class="btn bg-white mx-1"></a>
    </div>
</div>
</body>
</html>