<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Register | Erben Airports</title>
    <div th:replace="components/common :: header"></div>
</head>

<body>

<div th:replace="components/common :: navigation"></div>
<section style="margin: auto">
    <div class="container d-flex justify-content-center align-items-center  w-100 p-2">
        <div class="card rounded-borders w-100">
            <div class="card-body text-center p-5">
                <h2 class="fw-bold mb-4">Register for ErbenAirports</h2>
                <form th:action="@{/register}" th:object="${user}" method="post" class=" form-outline  text-start">
                    <div class="my-2" th:replace="components/userForm :: userForm"></div>
                    <p class="mb-0 text-center">Youre already a registered user? <a href="/login" class="text-center text-blue fw-bold">Log in</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
